.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 300px;

  .connect_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .connect_with_us {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 130%;
      text-align: center;
      color: #000000;
      flex: none;
      flex-grow: 0;
      position: relative;
      left: 70px;
      span {
        color: #091e80;
      }
      &::before {
        content: "";
        width: 50px;
        position: absolute;
        border: 1px solid #1138ee;
        top: 10px;
        left: -50px;
      }
    }
    .connect_heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 120%;
      color: #000000;
      flex: none;
      text-align: left;
      flex-grow: 0;
      width: 65%;
      margin-left: 4px;

      span {
        color: #091e80;
      }
    }
    .connect_description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
      color: #222222;
      flex: none;
      flex-grow: 1;
      width: 85%;
      text-align: left; 
      margin-left: 18px;


    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    input {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      padding: 10px;
      background: #cccccc;
      opacity: 0.5;
      border: 1px solid #c1cbfb;
      border-radius: 5px;
      outline: none;
      &::placeholder {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        opacity: 0.7;
      }
    }
    button {
      background: #3254f1;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: white;
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
    }
  }
}
